@import "./variables";
@import "./header";
@import "./nav-bar";
@import "./about-us";
@import "./classes";
@import "./schedules";
@import "./contact";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




